/* body{
    background-color: aqua;
} */

/* p{
    color:violet;
    font-size:80px;
}  */

body{
    padding-bottom: 500px;
}
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}
#exclusive-title{
    background-color: purple;
    color: beige;
    padding:10px;
    font-size: 40px;
}

/* 10 Mutiplas regras*/
h2{
    border-bottom: 2px dotted red;
}
.titulo{
    border-bottom: 3px solid blue;
}
#algum-titulo{
    border-bottom: 4px solid green;
}

.color-name{
    color:crimson
}

/* 12 hex */

.hex{
    background: green;
    color: white;
}
.hex-2{
    background: #55a398;
    color:white;
}

/*13 hex simplificado */

.simple-hex{
    /* color: #333333; */
    color: #333333;
    /* quando tem 2 omes ou letras iguais pode cortar ex: 333 nesse caso */
}
.simple-hex-2{
    /* color: #aa55ff; */
    color: #aa55ff;
/* nesse caso ficaria #a5f. Não influencia na cor*/
}


/* 14 rgb */
.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(199,21,47);
}
