/* body{
    background-color: aqua;
} */

/* p{
    color:violet;
    font-size:80px;
}  */

body{
    padding-bottom: 500px;
}
.paragraph{
    background-color: black;
    color: aqua;
    padding: 5px;
}
#exclusive-title{
    background-color: purple;
    color: beige;
    padding:10px;
    font-size: 40px;
}

/* 10 Mutiplas regras*/
h2{
    border-bottom: 2px dotted red;
}
.titulo{
    border-bottom: 3px solid blue;
}
#algum-titulo{
    border-bottom: 4px solid green;
}

.color-name{
    color:crimson
}

/* 12 hex */

.hex{
    background: green;
    color: white;
}
.hex-2{
    background: #55a398;
    color:white;
}

/*13 hex simplificado */

.simple-hex{
    /* color: #333333; */
    color: #333333;
    /* quando tem 2 omes ou letras iguais pode cortar ex: 333 nesse caso */
}
.simple-hex-2{
    /* color: #aa55ff; */
    color: #aa55ff;
/* nesse caso ficaria #a5f. Não influencia na cor*/
}


/* 14 rgb */
.rgb{
    color: rgb(255,0,0);
}

.mixed-rgb{
    color: rgb(199,21,47);
}

/* 15 RGBA  */
.rgba{
    color:rgba(255,0,0,0.3
    );
}

/* deixa transparente, quanto mais perto do 0 mais transparente, quanto mais perto do 1 meno transparente */

.bg-image{
    background-image: url(../img/nature.jpg);
    padding:10px;
    color: #fff;
}

.bg-opacity{
    background-color: green;
    opacity: 0.8;

}

.bg-opacity-2{
    background-color: #999;
    color: #000;
    opacity: 0.8;

}

.rgba-opacity{
    background-color:  rgba(90,12,20,0.2);
    color:#000;
    opacity: 0.1;

}

.centered-bg,
.not-centered-bg{

    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
}
.centered-bg{
    border: 4px dotted purple;
    background-position: center;
    background-size: cover;
}

/* no elemento div é necessario definir altura e largura para funcionar */